@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}

.page {
  margin-top: var(--navbar-height);
  margin-left: var(--sidebar-width-collapsed);
  padding: 20px;
  transition: margin-left 0.4s ease;
}
