.button {
  cursor: pointer;
  padding: 6px 15px;

  &:hover {
    opacity: 0.8;
    fill-opacity: 80%;
    stroke-opacity: 80%;
  }
}

.clear,
.clearInverted {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.clearInverted {
  color: var(--invert-primary-color);
}

.outline,
.outline_red {
  border: 1px solid;
  background: none;
}

.outline {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.outline_red {
  color: var(--red-light);
  border-color: var(--red-light);
}

.background {
  background: var(--bg-color);
  border: none;
}

.backgroundInverted {
  background: var(--invert-bg-color);
  color: var(--invert-primary-color);
  border: none;
}

.size_m {
  font: var(--font-m);
}

.size_l {
  font: var(--font-l);
}

.size_xl {
  font: var(--font-xl);
}

.square {
  padding: 0;

  &.size_m {
    width: var(--font-line-m);
    height: var(--font-line-m);
  }

  &.size_l {
    width: var(--font-line-l);
    height: var(--font-line-l);
  }

  &.size_xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
  }
}

.disabled {
  opacity: 0.5;
}

.fullWidth {
  width: 100%;
}
