.link {
  margin-left: 10px;
  color: var(--secondary-color);
  display: none;
}

.icon {
  fill: var(--secondary-color);
  width: 35px;
  height: 35px;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-top: 10px;
}

.item {
  display: flex;
  margin-bottom: 25px;
  text-decoration: none;
}

.sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width-collapsed);
  background: var(--inverted-bg-color);
  position: fixed;
  top: var(--navbar-height);
  transition: width 0.4s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &:hover {
    width: var(--sidebar-width);

    & + div {
      margin-left: var(--sidebar-width);
    }

    & .item {
      margin-bottom: 10px;
    }

    & .link {
      display: block;
    }

    & .icon {
      width: 20px;
      height: 20px;
    }
  }
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  & button {
    margin-top: 10px;

    &:first-child {
      margin-top: 0;
    }
  }
}

.notFixed {
  position: absolute;
}
