.sidebar {
  height: calc(100vh - var(--navbar-height));
  width:var(--sidebar-width);
  background: var(--inverted-bg-color);

  position: relative;

  transition: width 0.2s ease;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  & button {
    margin-top: 10px;

    &:first-child {
      margin-top: 0;
    }
  }
}