.items {
  background: var(--popup-bg);
  position: absolute;
  z-index: 1000;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  display: flex;
  flex-direction: column;
}

.item {
  width: 100%;
  padding: 10px 20px;
  background: none;
  outline: none;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
}

.active {
  background: var(--invert-primary-color);
}
