.select {
  background: none;
  outline: none;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.option {
  background: var(--invert-bg-color);
  color: var(--invert-primary-color);
}

.label {
  min-width: 20%;
  margin-right: 10px;
  padding: 2px 0;
}

.readonly {
  opacity: 0.5;
}
