.dark_theme {
  --bg-color: #000;
  --invert-bg-color: #fff;
  --primary-color: #fff;
  --secondary-color: #ccc;
  --invert-primary-color: #000;
  --invert-secondary-color: #676767;

  // skeleton
  --skeleton-color: #1515ad;
  --skeleton-shadow: #2b2be8;

  // code-component
  --code-bg: #394981;

  // card
  --card-bg: #333;
}
