.light_theme {
  --bg-color: #fff;
  --invert-bg-color: #000;
  --primary-color: #000;
  --secondary-color: #727272;
  --invert-primary-color: #fff;
  --invert-secondary-color: #676767;

  // skeleton
  --skeleton-color: #e5e5e5;
  --skeleton-shadow: rgb(0 0 0 / 30%);

  // code-component
  --code-bg: #c3d1ff;

  // card
  --card-bg: #d0d0d0;

  // card
  --listbox-bg: #d0d0d0;
}
