.navbar {
  width: 100%;
  min-height: var(--navbar-height);
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;

  & .links {
    margin-left: auto;

    & a {
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.notFixed {
  position: static;
}
